// products card
<div class = "card">
    <a href=".html"> <!--ano toh-->  
        <img class="card-img-top" src="" alt="Card image cap"> <!--ano toh-->
            <div class="card-body">
                <!--need img src-->  
                <h5 class="card-title"><a href="./Product/{{_id}}">"" {{prodname}<a> } </h 5>
                <p class="card-text">PHP <span>{{prodpric}} </span></p>
            </div>
</div>